@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Code:wght@400;600&family=Lobster&family=Roboto:wght@400;700&display=swap');

/*Resetando regras do css*/
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
}

:root{
    --preto: #17161d;
    --preto2: #131219;
    --roxo: #5429CF;
    --blue_white: #8b91fd;
    --branco: #FFFFFF;
    
}

html, body{
    width: 100%;
    overflow-x: hidden;
    background-color: #131219;
    
}

p{
    color:#ffffe6;
}

a, a:visited{
    color: #ffffe6;
    text-decoration: none;
}

ul{
    margin: 0;
}

.nav-menu-mobile{
    display: none;
}

header{
    width: 100%;
    min-width: 360px;
    margin: 0 auto;
    height: 50%;
    background-color: var(--preto2);
}

.content{/*Abordagem responsiva*/
    width: 100%;
    max-width: 980px; /*Se tiver espaço, o máximo*/
    min-width: 360px; /*Se não tiver espaço, o mínimo*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav{
    width: 100%;
    max-width: 980px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 48px;
    width: 50px;

}

nav ul{
    display: flex;
    flex-direction: row;
    font-weight: 700;
}

nav ul li{
    padding: 10px;
}

nav ul li a{
    color: var(--branco);
}

nav ul li a:hover{
    color: var(--roxo);
}

#button{
    border: 1px solid var(--branco);
    background-color: transparent;
    padding: 8px 30px;
    margin-left: 30px;
    color: var(--branco);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#button:hover{
    transition: color 0.5s;
    background-color: var(--roxo);
    color: var(--branco);
}

@media screen and (max-width: 480px){
    
    #button{
        margin-left: 5px;
    }

    nav{
        display: none;
    }

    header .content{
        padding: 0;
    }

    .nav-menu-mobile{
        background-color: white;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .navbar{
        top: 0;
        position: fixed;
        background-color: #131219;
        display: flex;
        align-items: center;
        z-index: 10;
    }

    .navbar-collapse{
        display: flex;
        flex-direction: row-reverse;
    }
    .navbar-nav{
        display: flex;
        width: 100%;
        margin-top: 10px;
        justify-content: space-between;
        flex-direction: row;
    }

    .dropdown-item{
        color: var(--branco);
    }
}
