section .catalogo {
    width: 100vw;
    padding: 100px;
}
      
section .filter-card {
    width: 1000px;
    height: 150px;
    background-color: var(--purple);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 700px;
    height: 40px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    text-indent: 10px;
}

.search-buttom {
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: var(--roxo);
    color:white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s ease;
}

.search-buttom :hover {
    background: #dedede;
    color:var(--purple);
}

.title-wrapper-catalogo p{
    margin-top: 50px;
    padding-bottom: 20px;
}

section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 50px;
    padding-top: 50px;
}
section .card-item{
    height: 400px;
    background: var(--purple);
    border-radius: 8px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
}

.card-content{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.card-item h4{
    width: 90%;
}

.card-item p{
    width: 90%;
    font-style: italic;
    color: white ;
}

.card-item h3 {
    color: green;
    font-size: 15px;

}

.card-item button{

padding: 15px 80px;
border: none;
background-color: var(--roxo);
border-radius: 4px;
color: white;
font-weight: bold;
font-size: 1,1em;
cursor: pointer;
transition: 0,3s ease;
margin-bottom: 10px;
}



.card-item button:hover{
background: #dedede;
color: blue;
}

.background-text{
color: whitesmoke;
text-align: center;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
}

.background-text h2{
    position: relative;
    top: 170px;
}

.background-text p{
    position: relative;
    top:170px;
}

.title-wrapper-catalogo h3{
    font-size: 40px;
    color: purple;
    font-weight: bold;
    position: relative;
    left: -35px;
}

.title-wrapper-catalogo p{
    text-decoration-color: whitesmoke;
    text-align:start;
    font-size: 18x;
    position: relative;
    
    left: -35px ;
    top: 20px;
   
    
}
.background-block {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    
    background-image: url(https://t2.tudocdn.net/529329); 
    background-attachment: fixed;
}

.search-button {    
    width: 14%;
    padding: 14px 6px;
    border: none;
    background-color: var(--roxo);
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1,1em;
    cursor: pointer;
    transition: 0,3s ease;
    

}

.search-input{
width: 75%;
padding: 14px 10px;
border-radius: 4px;
cursor: pointer;
margin-bottom: 10ox;
}





/*Footer*/
footer{
    background-color: var(--preto);
    padding-bottom: 1rem;
}

.footer-content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}

.footer-content img{
   
   margin-top: 15px;
   margin-bottom: 15px;
   
}

.footer-content p{
   font-size: 20px;
   max-width: 500px;
}

.footer-content ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.footer-content ul li{
    margin: 0 0.9rem;
    padding: 3px;
}

.footer-content ul li a:hover{
    border-bottom: 4px solid var(--roxo);
}

.footer-content ul li a i{
    font-size: 2rem;
}

.footer-bottom{
    text-align: center;

}

section .card-item {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--branco);
    border-radius: 10px;
}

.card-item p {
    width: 90%;
    max-width: 900px;
    font-style: italic;
    color: var(--preto2);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: justify;
}



.card-item img {
    width: 65%;
    margin: 0;
    padding: 0;
}

.card-item h3 {
    width: 90%;
    max-width: 900px;
    
    color: var(--preto);
    text-align: justify;
    text-align: center;
}


@media (max-width:640px) {
    .search-input{
        width: 30%;
        padding: 14px 10px;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: -270px;   
        }
    }

  @media (max-width: 640px) {
      .search-button {
          width: 10%;
          position: relative;
          left: -270px;
          
          
      }
    
  }
      
  @media (max-width:640px) {
    .title-wrapper-catalogo p{
        position: relative;
        left: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width:640px) {
        .title-wrapper-catalogo h3{
            position: relative;
            left: 0px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
@media (max-width:640px) {
    .background-text p, .background-text h2 {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width:640px) {
    .footer-content {
        margin-bottom: 15px;
    }
    
    .card-item{
        margin-right: 10px;
        margin-left: 10px;
    }

