/*Resetando regras do css*/
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
}

:root{
    --preto: #17161d;
    --preto2: #131219;
    --roxo: #5429CF;
    --blue_white: #8b91fd;
    --branco: #FFFFFF;
    
}

h2{
    color:var(--roxo);
}

.container{
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
}


#div-form h2, #div-form p {
    margin-bottom: 20px;
}

/********* Formatação do formulario **********/

form{
    width: max-content;
    height: max-content;
    background-color: #131219;
}

input, textarea{
    border: none;
    border-radius: 10px;
    background-color: #77767a31;
}

input::placeholder, textarea::placeholder{
    color: white;
}

.input-form{
    margin: 8px 8px 8px 0px;
    padding: 10px;
    width: 200px;
}

#input-msg{
    margin: 8px 8px 8px 0px;
    padding: 10px 10px 100px 10px;
    width: 410px;
    resize: none;
}

#button-form{
    width: 30%;
    padding: 10px 0;
    border: none;
    background: var(--roxo);
    border-radius: 10px;
    color: var(--branco);
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 10px;
}

#button-form:hover{
    background-color: #5529cfc7;
}

/*******************************************/

/********* Informaçoes de Contato **********/

#contato{
    margin-left: 25%;
    height: max-content;
}

#contato p{
    margin-top: 60px;
    margin-left: 8px;
}

/*******************************************/

#map{
    position: relative;
    width: 100%;

}
